.ColVis {
    float: right;
    margin-bottom: 1em;
}
.ColVis_Button {
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    cursor: pointer;
    float: left;
    height: 25px;
    margin-right: 3px;
    padding: 3px 5px;
    position: relative;
}
button.ColVis_Button::-moz-focus-inner {
    border: medium none !important;
    padding: 0;
}
.ColVis_text_hover {
    background-color: #F0F0F0;
    border: 1px solid #999999;
}
div.ColVis_collectionBackground {
    background-color: black;
    z-index: 1100;
}
div.ColVis_collection {
    background-color: #F3F3F3;
    border: 1px solid #CCCCCC;
    padding: 3px;
    position: relative;
    width: 150px;
    z-index: 1102;
}
div.ColVis_collection button.ColVis_Button {
    background-color: white;
    float: none;
    margin-bottom: 2px;
    width: 100%;
}
div.ColVis_catcher {
    position: absolute;
    z-index: 1101;
}
.disabled {
    color: #999999;
}
button.ColVis_Button {
    text-align: left;
}
div.ColVis_collection button.ColVis_Button:hover {
    background-color: #F0F0F0;
    border: 1px solid #999999;
}
span.ColVis_radio {
    display: inline-block;
    width: 20px;
}

.csv button{
	text-align: center !important;
}