body{
	margin: 15px;
	width: 900px;
	margin : 50px auto;

	font-family: Verdana,Helvetica,sans-serif;
 	background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: url("../../images/common/bg.png");
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat-x;
    background-size: auto auto;
	color: #454545;
	font-size: 12px;
}

#header{
	text-align: right;
}

#container{
	background: #f7f9ff;	
	padding: 10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 0 0 16px rgba(0,0,0,0.1);	
	padding : 10px;
	min-height: 500px;
}


#footer{
	margin-top: 10px;
	font-weight: bold;
}